<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>リンク集</h3>
                <ul>
                    <li>
                        <a href="">Tech Hacker 植物育成物語チーム</a>
                    </li>
                    <li>
                        <a href="">DMM.make AKIBA</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <small>&copy; 2015 Tech Hacker 植物育成物語チーム</small>
            </div>
        </div>
    </div>
</footer>